<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/bootstrap/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/bootstrap/css/lrtk.css" rel="stylesheet" type="text/css" />
    <script src="/bootstrap/js/modernizr.custom.97074.js"></script>
    <script src="/bootstrap/js/classie.js"></script>
    <script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/jquery.hoverdir.js"></script>
    <script src="/bootstrap/js/uisearch.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/lrtk2.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/component.css" />
    <script src="/bootstrap/js/modernizr.custom.js"></script>
    <title>{{ welcome }}</title>
</head>
<body>
<div class="container">
    <header class="clearfix">
        <h1><a href="/Picture/Battle/getList">Tips &amp; Tricks</a></h1>
        <nav class="codrops-demos">
                <!-- Top Navigation -->
                <div class="main clearfix">
                    <!-- Optional columns for small components -->
                    <div class="column">
                        <div id="sb-search" class="sb-search">
                            <form action="/Picture/Battle/search">
                                <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"></span>
                            </form>
                        </div>
                    </div>
                </div>
            <script>
                new UISearch( document.getElementById( 'sb-search' ) );
            </script>
        </nav>
        <p>Moving from one thumb to the other will immediately trigger the sliding of the info box.</p>
    </header>
    <section>
        <ul id="da-thumbs" class="da-thumbs">
            {% for url in img_list %}
            <li>
                <a href="{{ url.img_url }}" target="_blank">
                    <img src="{{ url.img_url }}" height="165" width="220" alt="{{ url.id }}"/>
                    <div><span>{{ url.name }}</span></div>
                </a>
            </li>
            {% endfor %}

        </ul>
    </section>
</div>

{% include 'page.twig' %}

<script type="text/javascript">
    $(function() {

        $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

    });
</script>

</body>
</html>